@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../images/BG-Design.png');
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  font-family: "Inknut Antiqa", sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.topbar img {
  max-width: 200px;
  width: 180px;
  margin-left: 50px;
}

.right-topbar {
  display: flex;
  align-items: center;
}

.right-topbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right-topbar button {
  margin-right: 15px;
  color: white;
  background-color: #E257DF;
  padding: 15px;
  border: none;
  font-family: "Inknut Antiqa", sans-serif;
  font-weight: 700;
  border-radius: 50px;
  width: 150px;
}

.chat-section {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 480px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.messages {
  padding: 20px;
  overflow-y: auto;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
}

.user-message {
  align-self: flex-end;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.bot-message {
  align-self: flex-start;
  background-color: #a1a0a0;
  color: white;
}

.input-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: white;
  z-index: 1000;
  width: 600px;
  padding: 2px;
  border-radius: 40px;
}

.input-box input {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid black;
  margin: 10px;
  width: 90%;
  max-width: 600px;
}

.input-box button {
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  margin: 5px;
}

.input-box button img {
  width: 40px;
}

@media screen and (max-width: 480px) {

  body {
    background-size: auto;
  }

  .topbar img {
    width: 160px;
    margin-left: 10px;
  }

  .right-topbar img {
    width: 40px;
    height: 40px;
  }

  .right-topbar button {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-topbar label {
    display: none;
  }

  .chat-section {
    height: 700px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .message {
    max-width: 90%;
    font-size: 14px;
  }

  .input-area {
    background: linear-gradient(360deg, rgba(0,0,0,0.9) 0%, rgba(102,102,102,0.01) 100%);
  }

  .input-box button img {
    width: 40px;
  }
}