@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('../images/BG-Design.png');
    height: 100vh;
    font-family: "Inknut Antiqua", sans-serif;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 200px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.main {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    text-align: center;
    background-color: rgba(255, 207, 0, 0.15);
}

h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}

label {
    font-size: 14px;
    color: #333;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.forgot-password {
    color: black;
    font-weight: 900;
    text-align: right;
    padding-right: 8px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    opacity: 60%;
}

.sign-in-button button, .sign-in-with-google button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    font-family: "Inknut Antiqua", sans-serif;
}

.sign-in-button button {
    background-color: rgba(226, 87, 223, 0.3);
    color: black;
}

.sign-in-button button:hover {
    background-color: rgba(184, 70, 182, 0.3);
}

.sign-in-with-google button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(103, 43, 160, 0.3);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}

.sign-in-with-google button img{
    height: 20px;
    width: 20px;
}

.sign_up {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sign_up label{
    font-size: 10px;
    color: black;

}

.sign_up a {
    /* margin-left: 5px; */
    color: black;
}

@media screen and (max-width: 480px) {
    body {
        height: 90vh;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}