<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/chatbot.css">
  <link rel="shortcut icon" href="../static/images/mediguide-ai-logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Chatbot UI</title>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <!-- <div class="menu-icon">&#9776;</div> -->
    </div>
    <div class="main-content">
      <div class="logo MediGuide-AI">
        <img src="../static/images/mediguide-ai-logo.png" alt="MediGuide AI">
      </div>
      <h1>Hi, <span class="user-name">{user name}</span></h1>
      <p class="subtext">
        Ready to assist you with anything you need, from answering questions to providing recommendations. Let's get started!
      </p>
      <div class="chatbox">
        <input type="text" placeholder="Ask MediGuide Your Questions" class="chat-input">
        <button class="send-button"><i class="material-icons">send</i></button>
      </div>
    </div>
  </div>
</body>
</html>
