<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('chatbot_routes.static', filename='css/chatbot.css') }}">
  <link rel="shortcut icon" href="{{ url_for('chatbot_routes.static', filename='images/mediguide-ai-logo') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>MediGuide AI</title>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <!-- <div class="menu-icon">&#9776;</div> -->
    </div>
    <div class="main-content">
      <div class="top-bar">
        <div class="user-profile">
          <img src="{{ user['picture'] }}" alt="Profile Picture" class="profile-pic">
          <span class="user-name">{{ user['name'] }}</span>
        </div>
        <button type="submit" class="logout"><a href="/logout">Logout</a></button>
      </div>
      <div class="logo MediGuide-AI">
        <img src="{{ url_for('chatbot_routes.static', filename='images/mediguide-ai-logo') }}" alt="MediGuide AI">
      </div>
      <h1>Hi, <span class="user-name">{{ user['name'] }}</span></h1>
      <p class="subtext">
        Ready to assist you with anything you need, from answering questions to providing recommendations. Let's get
        started!
      </p>
      <div class="chatbox">
        <input type="text" placeholder="Ask MediGuide Your Questions" class="chat-input">
        <button class="send-button"><i class="material-icons">send</i></button>
      </div>
    </div>
  </div>
</body>

</html>