<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/landing_page.css">
    <link rel="shortcut icon" href="../static/images/mediguide-ai-logo.ico" type="image/x-icon">
    <title>MediGuide AI</title>
</head>

<body>

    <div class="header">
        <div class="logo">
            <img src="../static/images/MediGuide-Logo.png" alt="MediGuide">
        </div>

        <div class="features">
            <img src="../static/images/Features.png" alt="Features of MediGuide AI">
        </div>

        <div class="context">
            <h2>Your ultimate AI study companion for mastering medical concepts with ease.</h2>
        </div>
    </div>

    <div class="main">

        <div class="stamps">
            <div class="stamp">
                <img src="../static/images/Stethoscope-Stamp.png" alt="Stethoscope">
            </div>
            <div class="stamp">
                <img src="../static/images/Book-Stamp.png" alt="Books">
            </div>
            <div class="stamp">
                <img src="../static/images/Doctor-Stamp.png" alt="Doctor">
            </div>
            <div class="stamp">
                <img src="../static/images/Brain-Stamp.png" alt="Brain">
            </div>
        </div>

        <div class="cta">
            <button id="toLogin">
                Ask a Question Now
                <img src="../static/images/arrow.png" alt="Arrow">
            </button>
        </div>

        <div class="mobile-features">
            <img src="../static/images/Features.png" alt="Features of MediGuide AI">
        </div>
    </div>

    <script>
        var btn = document.getElementById("toLogin");
        btn.onclick = function () {
            window.location.href = "/login";
        }
    </script>
</body>

</html>